// ─── Titles ───────────────────────────────────────────────────────────────────

@mixin header-1 {
  font-size: 32px;
  line-height: 1.5;
}

@mixin header-2 {
  font-size: 28px;
  line-height: 1.5;
}

@mixin header-3 {
  font-size: 20px;
  line-height: 1.5;
}

// ─── Breakpoints ──────────────────────────────────────────────────────────────

@mixin tablet {
  @media (max-width: 1024px) { @content; }
}

@mixin mobile {
  @media (max-width: 768px) { @content; }
}

@mixin sm {
  @media (max-width: 480px) { @content; }
}
