// colors
$white: var(--white);
$black: var(--black);
$text100: var(--text100);
$red400: var(--red400);
$primary: var(--primary);


//box-shadow
$box-shadow-default: 0 5px 10px -2px rgba(34, 60, 80, 0.2);
